<!-- header hom-1 -->
<style>
    .header img{
        width: 100%;
        height: 100%;
    }
    /* video {
        object-fit: cover;
        height: auto;
        width: 100%;
        top: 0;
        left: 0;
    } */
</style>
<div class="contain">
    <div class="header">
        <img src="./assets/Screenshot (68).png" alt="">
    </div>
</div>

<!-- <video id="background-video" autoplay loop muted poster="./assets/What it takes to be a Champion!.jpg">
    <source src="../assets/What it takes to be a Champion! (2).mp4" type="video/mp4">
</video> -->





<!-- component-1 (News-component) -->




<style>
    #newsContainer {
        box-sizing: border-box;
        margin-bottom: 100px;
        margin-top: 8%;
    }

    .card {
        width: 100%;
        /* background-color: rgba(218, 218, 218, 0.699); */
        box-shadow: 0 0 30px rgb(214 215 216 / 35%);
        height: auto;
        overflow: hidden;
        /* border: 1px solid turquoise; */
        border: none;
        cursor: pointer;

    }

    .card:hover {
        transform: scale(1.07);
        filter: grayscale(100%);
        /* box-shadow: 0 19px 38px turquoise, 0 15px 12px rgba(0, 0, 0, 0.22); */
    }

    .readmore {
        position: relative;
        transition: all .3s ease;
        font-weight: 200;



    }

    .readmore:hover {
        color: turquoise;
        font-size: 110%;

    }

    #newsContainer-heading {
        margin-top: 3rem;
        margin-bottom: 1vh;

    }

    .Underline {
        border-top: 3px solid grey;
        width: 13vw;
        margin-bottom: 8%;

    }

    .text-start {
        white-space: normal;
    }

    h5 {
        color: turquoise;
    }

    p a {
        color: black;
        text-decoration: none;
    }

    #arrowRight {
        position: relative;
        margin-top: 10px;
    }
</style>

<div id="newsContainer" class="container">
    <div id="newsContainer-heading" class="text-center">
        <h1 class="subHead text-center"><b style="color: turquoise;">Latest News</b></h1>
    </div>
    <span class="Underline d-block mx-auto"></span>
    <div id="newsContainer-box" class="row">
        <div id="newsContainer-body-box-1" class="col-sm-4">
            <div class="card" data-aos="fade-up" data-aos-duration="1000">
                <img src="./assets/new1 (2).jpg">
                <div class="text-start p-2 card-text">
                    <h5>CNBC in conversation with Megha Gambhir</h5>
                    <p>August 3, 2021 by Megha Gambhir News
                        Startup Street: Here's how
                        startups are using technology to mentor
                        athletesThe Olympic Games ...

                    </p>
                    <div class="readmore">
                        <p><a href="">Read more <i class="bi bi-arrow-right " id="arrowRight"></i></a></p>
                    </div>
                </div>

            </div>
        </div>
        <div id="newsContainer-body-box-2" class="col-sm-4">
            <div class="card" data-aos="fade-up" data-aos-duration="1300">
                <img src="./assets/new2.jpg">
                <div class="text-start p-2 card-text">
                    <h5>Sweden partnered with Stupa</h5>
                    <p>Stupa is proud to have joined hands with the Swedish Table Tennis Association as their
                        official
                        performance analytics partner...
                    </p>

                    <div class="readmore">
                        <p><a href="">Read more <i class="bi bi-arrow-right " id="arrowRight"></i></a></p>
                    </div>

                </div>
            </div>
        </div>
        <div id="newsContainer-body-box-3" class="col-sm-4">
            <div class="card" data-aos="fade-up" data-aos-duration="1600">
                <img src="./assets/new3.jpg">
                <div class="text-start p-2 card-text">
                    <h5>Success Stories: Her Story Her Way</h5>
                    <p>May 28, 2021 by Megha Gambhir News
                        Success Story is here, Get Inspired!
                        Success Story in her way, the journey
                        has not been easy, Building a start-up is
                        difficult. It requires a constant push...

                    </p>

                    <div class="readmore">
                        <p><a href="">Read more <i class="bi bi-arrow-right " id="arrowRight"></i></a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





<!-- component-2 (whyAnalytics-component)-->






<style>
    #whyAnalytics-component {
        margin-top: 150px;
    }

    #whyAnalytics-container {
        overflow: hidden;
        background-image: url('./assets/expertBG.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        /* border: 4px solid turquoise; */
        color: black;
        border-radius: 10px;
        ;
        background-repeat: no-repeat;
    }

    #WhyAnalytics {
        padding-left: 15%;
        padding-top: 5%;
        padding-bottom: 3%;
        padding-right: 15%;


    }

    #whyAnalytics-container-body {
        margin-top: 50px;
        max-width: 80%;
        border-top: 2px solid turquoise;
        border-bottom: 2px solid turquoise;
        margin-bottom: 20px;
    }

    #whyAnalytics-container-body-heading {
        /* font-family: 'Oswald', sans-serif; */
    }

    #Absolute {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .imgCont {
        width: 100%;
        height: auto;
    }

    #whyAnalytics-container-overImage {
        background-color: rgba(0, 0, 0, 0.384);
    }

    #increaseSize {
        font-size: large;
    }
</style>
<div id="whyAnalytics-component" class="text-center">

</div>

<div id="whyAnalytics-container" class="container-fluid">
    <div id="whyAnalytics-container-overImage" class="overImage pb-5">
        <div id="topheading">
            <h2 id="whyAnalytics-heading" class="subHead text-center  pt-5 pb-2">
                <b style="color: turquoise;">Why STUPA Sport Analytics?</b>
            </h2>
            <div id="whyAnalytics-container-header" class="text-center d-block mx-auto ml-auto">
                <img id="whyAnalytics-container-header-image" class="img-responsive" src="./assets/stupalogo.png"
                    alt="">

            </div>
        </div>

        <div id="whyAnalytics-container-body" class="pt-3 pb-2 d-block mx-auto ml-auto">

            <div class="text-center p-5 pb-2 pt-3" style="color: white;" data-aos="zoom-in" data-aos-duration="2200">
                <h5 id="whyAnalytics-container-body-heading" class="pb-4 d-block  mx-auto" style="color: white;">Stupa
                    Sports analysis
                    help coaches to monitor and improve the
                    performance of their players and teams.
                    Stupa demonstrates your strengths and weaknesses. Our purpose is to find key analysis
                    points.
                </h5>
                <p id="increaseSize">
                    Players & Coaches Demand more Data, Faster with less effort! – That’s why we launched
                    STUPA, to
                    save your time. The level of competition and the importance of data-driven decisions are
                    higher
                    than ever. The burden of this on coaches is real and has pushed us to evolve the role.
                    Stupa
                    Sports Analysis plays an important role in realizing goals and producing long term
                    results –
                    that’s why professional coaches rely on it!


                </p><br>
                <p id="increaseSize">
                    Reports generated from Stupa sports analytics can be used to understand the opposing
                    opponent’s
                    game plans and strategies. If you understand your opposition’s strengths you can put
                    effective
                    strategies, if you understand their weaknesses you can coach your player accordingly.

                </p>
            </div>
        </div>

    </div>
</div>




<!-- component-3 (stupaUserRankedP-component)-->




<style>
    #stupaUserRankedP-component {
        margin-top: 150px;
    }

    .card {
        /* border: 2px solid ; */
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 200px;
        border: none;
        transition: all .3s ease;

    }

    h4 {
        color: turquoise;
    }

    .imgContainer {
        width: 100%;
        height: 180px;
        overflow: hidden;
    }

</style>

<div id="stupaUserRankedP-component" class="container">
    <div id="stupaUserRankedP-component-heading" class=" text-center ">
        <h2 class="subHead"><b style="font-weight: 800; color: black;">World Ranked Players Using </b><br>
            <b style="font-size: larger; font-weight: 800; color: turquoise;">Stupa Sports Analytics</b>
        </h2>
    </div>
    <section class="owl-carousel-o-slider p-4 ">

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>

                <div class="card m-3 pb-3">
                    <div class="imgContainer">
                        <img src="./assets/manav.jpg" width="100" class="card-img-top">
                    </div>
                    <h4 class="text-center">Manav Thakkar</h4>

                    <p class="card-text text-center">
                        India<br>
                        World Rank
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card m-3 pb-3">
                    <div class="imgContainer">
                        <img class="card-img-top" src="./assets/kanak.jpg" width=100>
                    </div>
                    <h4 class="text-center">Kanak Jha</h4>
                    <p class="card-text text-center">
                        USA<br>
                        World Rank
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card m-3 pb-3">
                    <div class="imgContainer">
                        <img src="./assets/adriana.jpg" width="100" class=" card-img-top">
                    </div>

                    <h4 class="text-center">Adriana Diaz</h4>
                    <p class="card-text text-center">
                        Puerto Rico<br>
                        World Rank
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card m-3 pb-3">
                    <div class="imgContainer">
                        <img src="./assets/payas.jpg" width="100">
                    </div>
                    <h4 class="text-center">Payas Jain</h4>
                    <p class="card-text text-center">
                        India<br>
                        World Rank
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card m-3 pb-3">
                    <div class="imgContainer">
                        <img src="./assets/helmy.jpg" width="100">
                    </div>
                    <h4 class="text-center">Yousra Helmy</h4>
                    <p class="card-text text-center">
                        Egypt<br>
                        World Rank
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card m-3 pb-3">
                    <div class="imgContainer">
                        <img src="./assets/brian.jpg" width="100">
                    </div>
                    <h4 class="text-center">Brian Afanador</h4>
                    <p class="card-text text-center">
                        Puerto Rico<br>
                        World Rank
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card m-3 pb-3">
                    <div class="imgContainer">
                        <img src="./assets/duda.jpg" width="100">
                    </div>
                    <h4 class="text-center">Benedikt Duda</h4>
                    <p class="card-text text-center">
                        Germany<br>
                        World Rank
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card m-3 pb-3">
                    <div class="imgContainer">
                        <img src="./assets/maliana.jpg" width="100">
                    </div>
                    <h4 class="text-center">Maliana Diaz</h4>
                    <p class="card-text text-center">
                        Puerto Rico<br>
                        World Rank
                    </p>
                </div>
            </ng-template>
        </owl-carousel-o>
    </section>
</div>





<!-- component-4 (services-component) -->




<style>
    #services-component {
        margin-top: 150px;
    }

    .slides {
        max-width: 400px;
        height: auto !important;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }

    .servName {
        color: turquoise;
    }
</style>

<div id="services-component" class="container">
    <div id="services-component-heading">
        <h1 class="subHead text-center"><b class="servName text-secondary">Services We Provide </b></h1>
    </div>
    <div class="services-component-slider">
        <section class="owl-carousel-o-slider-3 mt-5 p-4">
            <owl-carousel-o [options]="customOptions2">
                <ng-template carouselSlide>

                    <div class="row">
                        <div class="col-sm-6">
                            <div id="slide-1" class="slides img-responsive">
                                <img class="img-fluid" width="100" src="./assets/expertservice.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="count">
                                <h1 class="text-start">No. 1</h1>
                            </div>
                            <div class="subheading">
                                <h2 class=" subHead text-start "><b class="servName">EXPERT ANALYSIS</b></h2>
                            </div>
                            <div class="info">
                                <p class="text-start">
                                    Match analysis is a process of collecting the data of your Table tennis match
                                    where
                                    you’d be able to view your errors, winners, ball placement, effective serves and
                                    Receives, effective strokes and many more including video clippings that’ll help
                                    you
                                    in understanding the point in a better way.
                                </p>
                            </div>
                        </div>
                    </div>

                </ng-template>
                <ng-template carouselSlide>
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="slide-2" class="slides img-responsive">
                                <img class="img-fluid" width="100" src="./assets/realtimeservice.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="count">
                                <h1 class="text-start">No. 2</h1>
                            </div>
                            <div class="subheading">
                                <h2 class="subHead text-start"><b class="servName">REAL-TIME ANALYSIS</b></h2>
                            </div>
                            <div class="info">
                                <p class="text-start">
                                    STUPA provides you with an Artificial
                                    Intelligence Table Tennis Analytics Solution
                                    that uses a mobile camera for performing real
                                    time analysis of the game and gives you super-fast
                                    stats like Ball Speed, Heat Map etc.</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="slide-3" class="slides img-responsive">
                                <img class="img-fluid" width="100" src="./assets/practiseservice.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="count">
                                <h1 class="text-start">No. 3</h1>
                            </div>
                            <div class="subheading">
                                <h2 class="subHead text-start"><b class="servName">PRACTICE ANALYSIS</b></h2>
                            </div>
                            <div class="info">
                                <p class="text-start">
                                    STUPA’s Artificial Intelligence
                                    also lets you analyze you training
                                    sessions. Just your mobile camera
                                    and track your performance session by session.</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="slide-4" class="slides img-responsive">
                                <img class="img-fluid" width="100" src="./assets/athleteservice.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="count">
                                <h1 class="text-start">No. 4</h1>
                            </div>
                            <div class="subheading">
                                <h2 class="subHead text-start"><b class="servName">ATHLETE PROFILING</b></h2>
                            </div>
                            <div class="info">
                                <p class="text-start">
                                    The yearly performance of the player is created, mentioning the no of matches
                                    played
                                    by him/her. Matches won and lost along with all the observations and data with
                                    Playing patterns, Enlightening Facts and Trends.</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>

        </section>
    </div>
</div>




<!-- component-5 (getFree-component) -->




<style>
    #getFree-component {
        margin-top: 150px;
        margin-bottom: 180px;
        width: 100%;


    }

    #getFree-component-overImage {
        position: relative;
        width: auto;
        overflow: hidden;
        height: 600px;
        background-image: url('./assets/MATCH ANALYSIS (BG PHOTO).jpg');
        filter: blur(3px);
        -webkit-filter: blur(3px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    .contheading2 {
        position: absolute;
        width: 100%;
        height: 600px;
        background-color: rgba(0, 0, 0, 0.644);
        margin-top: -600px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    #btntrial {
        background-color: rgb(19, 228, 207);
        color: white;
        border-radius: 50px;
        margin-top: 30%;
        padding: 10px;
        min-width: 40%;
        font-size: larger;
        min-height: 12%;
    }

    #sideimg {
        filter: drop-shadow(10px 10px 10px rgba(8, 8, 8, 0.795));
        width: 100%;
        height: auto;
    }


    #rowFull {}
</style>

<div id="getFree-component">
    <div id="getFree-component-overImage" class="overImage">
    </div>

    <div class="contheading2 ">

        <h1 class="subHead text-center pt-4">
            <b style="color: white">Get your First <br><b style="color: turquoise;">Match Analysis Free</b> </b>
        </h1>
        <div class="container">
            <div class="row" id="rowFull">
                <div class="col-lg-5 text-center"><button id="btntrial" class="btn btn p-2 ps-3 pe-3" type="button"
                        (click)="openModel()"><b>Join For Free <i class="bi bi-patch-check"></i></b>
                    </button></div>
                <div class="col-lg-7 text-end" id="responsiveImg">
                    <img id="sideimg" class="img-responsive img-rounded" src="./assets/bgselect.jpg" width="650" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- client section -->

<style>
    #container-8 {
        margin-top: 150px;
    }

    .clientHeader {
        margin-bottom: 5vh;
    }
</style>
<div class="container" id="container-8">
    <div class="clientSection">
        <div class="subHead">
            <h1 class="text-center text-secondary"><b>Our Clients</b></h1>
        </div>

        <section class="owl-carousel-o-slider-4 p-3">
            <owl-carousel-o [options]="customOptions3">
                <ng-template carouselSlide>
                    <div class="imgContainer">
                        <img class="img-responsive" src="./assets/client1.jpg" alt="">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <img class="img-responsive" src="./assets/client2.jpg" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img class="img-responsive" src="./assets/client3.jpg" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img class="img-responsive" src="./assets/client4.jpg" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img class="img-responsive" src="./assets/client6.jpg" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img class="img-responsive" src="./assets/client7.jpg" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img class="img-responsive" src="./assets/client8.jpg" alt="">
                </ng-template>
            </owl-carousel-o>
        </section>
    </div>

</div>




<!-- recommmed by pros(recommedPros-component) -->



<style>
 

    #FirstHeading {
        font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .imageLogo {
        border-radius: 50%;

    }
#fluidContainer  {
        margin-top: 150px;
        /* overflow: hidden; */
        color: rgb(161, 157, 157);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        /* background-color: black; */
        background-image: url('./assets/Four cordinates table.png');
        background-position: center;

    }

    .typewriter {
        white-space: nowrap;
    }

    .typewriter p {
        color: #fff;
        overflow: hidden;
        color: black;
        /* white-space: nowrap; */

        margin: 0 auto;
        margin-top: -20px;
        margin-bottom: 5vh;
        letter-spacing: .15em;
        animation: typing 3.5s steps(80, end), blink-caret .20s step-end infinite;
    }

    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 100%
        }
    }
    .imgLogo{
        overflow: hidden;
    }

    .imgLogo img {
        text-align: center;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-content: center;
        max-width: 200px;
        height: 200px !important;
        margin-bottom: 30px;
    }

    .infobypros p{
        width: 60vw;
        display: block;
        margin-left: auto;
        font-family: 'Dosis', sans-serif;
        margin-right: auto;
    }
    .flexbox{
        /* width: 800px; */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    

    .bg_gradient {
        background-color: rgba(0, 0, 0, 0.603);
    }
</style>
<!-- <div class="container" id="container-about-1"> -->

<div class="container-fluid" id="fluidContainer" >
    <div class="bg_gradient">
        <div class="Pros-heading">
            <h1 class="text-center pt-5" data-aos="fade-up" data-aos-duration="1000" id="FirstHeading"><b
                    class="subHead" style="color: turquoise;">Recoginition By Pro's</b></h1>
        </div>
        <section class="owl-carousel-o-slider-3 p-5">
            <owl-carousel-o [options]="customOptions4">
                <ng-template carouselSlide>


                    <div class="flexbox  " id="flexbox2">
                        <div class="row p-3 text-center d-block mx-auto ml-auto">
                            <div class="imgLogo d-block mx-auto ml-auto img-fluid" id="imgLogo1">
                                <img src="./assets/manavMasking.jpg" alt="avatar" id="pro-1">

                            </div>
                            <div class="infobypros mt-2">
                                <p>
                                    <fa-icon style="bottom: 10px;margin-right: 10px; position: relative;"
                                        [icon]="faQuoteleft"> </fa-icon>Stupa app realize me that my left foot remained less active during the play. I trained it and it,s much quicker now. <fa-icon
                                        style="top: 15px; position: relative; margin-left: 10px;" [icon]="faQuoteRight">
                                    </fa-icon>
                                </p>
                            </div>
                            <div class="superhead mt-1 text-center">
                                <h4>Manav Thakkar</h4>
                                <h6 class="">World Rank- 1(youth)</h6>
                                <h6 class="">India</h6>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>

                    <div class="flexbox mt-2 " id="flexbox2">
                        <div class="row p-3 text-center d-block mx-auto ml-auto">
                            <div class="imgLogo d-block mx-auto ml-auto img-fluid" id="imgLogo1">
                                <img src="./assets/i01_adriana.jpg" alt="avatar" id="pro-2">

                            </div>
                            <div class="infobypros mt-2">
                                <p>
                                    <fa-icon style="bottom: 10px;margin-right: 10px; position: relative;"
                                        [icon]="faQuoteleft"> </fa-icon>I've seen a Phenomenal changes in my game since I've started using the Stupa app    <fa-icon
                                        style="top: 15px; position: relative; margin-left: 10px;" [icon]="faQuoteRight">
                                    </fa-icon>
                                </p>
                            </div>
                            <div class="superhead mt-1 text-center">
                                <h4>Adriana Diaz</h4>
                                <h6 class="">World Rank- 16</h6>
                                <h6 class="">Puerto Rico</h6>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>

                    <div class="flexbox mt-2 " id="flexbox2">
                        <div class="row p-3 text-center d-block mx-auto ml-auto">
                            <div class="imgLogo d-block mx-auto ml-auto img-fluid" id="imgLogo1">
                                <img src="./assets/i01_kanak.jpg" alt="avatar" id="pro-3">

                            </div>
                           
                            <div class="infobypros mt-2">
                                <p>
                                    <fa-icon style="bottom: 10px;margin-right: 10px; position: relative;"
                                        [icon]="faQuoteleft"> </fa-icon>My service, my stategy, building capacity and even my footwork had seen a rapid improvement because of stupa<fa-icon
                                        style="top: 15px; position: relative; margin-left: 10px;" [icon]="faQuoteRight">
                                    </fa-icon>
                                </p>
                            </div>
                            <div class="superhead mt-1 text-center">
                                <h4>Kanak Jha</h4>
                                <h6 class="">World Rank- 28</h6>
                                <h6 class="">USA</h6>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </section>
    </div>
</div>


<!-- other -->
<style>
    #otherContainer{
        margin-top: 8%;
    }
</style>
<div class="container" id="otherContainer"></div>