<style>
    .container {
        background-color: white;

    }

    agm-map {
        height: 40vw;
    }
    form{
        width: 100%;
        height: 500px;
    }

    .map-container {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    /* #icons{
    
} */
    svg {
        border: 2px dotted #7777777e;
        border-radius: 50%;
        margin: 2%;
        color: #777777;
        padding: 8px;

    }
</style>
<div class="container pt-5" data-aos="fade-up" data-aos-duration="1000">
    <div class="text-center m-5">
        <h2> <b style="color: turquoise;">Contact Us</b> </h2>
    </div>
    <div class="row ">
        <div class="col-lg-6 mb-3" style=" background-color: white;    box-shadow: 0 0 30px rgb(214 215 216 / 30%); ">

            <!-- <i class="bi bi-geo-alt-fill"></i> -->
            <div class="text-center">
                <span class="map-image" id="icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                        class=" bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                    </svg>
                </span>
                <h4>Our Address</h4>
                <p>Kohat Enclave, Pitam Pura, Delhi</p>
            </div>
        </div>
        <div class="col-lg-3 mb-3 ms-3"
            style="background-color: white;    box-shadow: 0 0 30px rgb(214 215 216 / 30%); ">
            <div class="text-center">
                <span class="email-image" id="icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                        class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path
                            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                    </svg>
                </span>
                <h4>Email Us</h4>
                <p>info@stupaanalytics.com</p>
            </div>
        </div>
        <div class="col-lg-2 mb-3 ms-3"
            style="background-color: white;    box-shadow: 0 0 30px rgb(214 215 216 / 30%);  ">
            <div class="text-center">
                <span class="phone-image" id="icons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                </span>
                <h4>Call Us</h4>
                <p>7042160670</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1000">
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 400px">
                <!-- <iframe src="" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.9344030893803!2d77.1379924143261!3d28.691608788157193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d03cedeb12c17%3A0xedb98eb59f3174f3!2sRohit%20Kunj%20Market%20PNT!5e0!3m2!1sen!2sin!4v1630319739578!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="col-lg-5 ms-3 " style="height: 400px;   box-shadow: 0 0 30px rgb(214 215 216 / 30%);"
            data-aos="fade-up" data-aos-duration="2000">
            <form class="mb-5">
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="exampleInputEmail1" class="form-label">FullName</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                    <div class=" col-sm-6 mb-3">
                        <label for="exampleInputEmail1" class="form-label">Place</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mb-3">
                        <div class="form-group"> <label class="form-label" for="form_message">Message *</label>
                            <textarea id="form_message" name="message" class="form-control"
                                placeholder="Write your message here." rows="4" required="required"
                                data-error="Please, leave us a message."></textarea> </div>

                    </div>
                </div>
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-primary ps-4 pe-4">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>