<style>
    #container-7{
        width: 100%;
        background-image: url('./assets/PRACTICE ANALYSIS (BG PHOTO).jpg');
        background-size: 100%;
            background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        height: 100%;
        

        
    }
    .innerContainer2{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.493);
    }
    #sideElement{
        /* width: 100%; */
        background-color: rgba(0, 0, 0, 0.514);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 15%;
        
    }
    .row{
        height: 100%;
    }
    #closebut{
        position: absolute;
    }
    #xclose{
        color: white;
    }
</style>

<div class="containers" id="container-7">
    <span class="text-end" id="closebut">
        <button class="btn btn " type="button" (click)="closeModel()"><i class="bi bi-x" id="xclose"></i></button>
    </span>
    <div class="innerContainer2">
        <div class="row">
            <div class="col-sm-7 " id="sideElement">
                <h1 class="text-center
                "><b style="color: turquoise; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; "><b style="color: white;"> DOWNLOAD </b>APP NOW</b></h1>
            </div>
            <div class="col-sm-5 text-center" style="padding-top: 15%;" >
                <div class="btn1 pb-4 pe-2">
                    <a href="#"><img src="./assets/dialogbtnappstore.jpg" alt=""></a>
                </div>
                <div class="btn2 ">
                    <a href="#"> <img src="./assets/dialogbtnplaystore.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>