<style>
    .container {
        box-sizing: border-box;
        margin-top: 100px;

    }

    .card {
        height: 85vh;
    }

    button {
        position: relative;
        bottom: 0;
    }
    .text-center{
        margin-top: 20vh;
        margin-bottom: 1vh;
        font-family: 'Play', sans-serif;

    }
    .dashUnderline{
        border-top: 3px solid grey;
        width: 10vw;
        margin-bottom: 10vh;

    }
</style>

<div class="container mt-5 mb-5">
    <div class="text-center "><h2 class="text-secondary"><b>NEWS</b></h2></div>
    <span class="dashUnderline d-block mx-auto"></span>
    <!-- <div class="d-block mx-auto "> -->
        <div class="row">
            <div class="col-sm-4" #1stcard="">
                <div class="card" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="./assets/new1 (2).png">
                    <div class="text-start p-2 card-text">
                        <h5>CNBC in conversation with Megha Gambhir</h5>
                        <p>August 3, 2021 by Megha Gambhir News
                            Startup Street: Here's how
                            startups are using technology to mentor
                            athletesThe Olympic Games have gripped the
                            nation and as India rejoices the ...

                        </p>
                        <button class="btn btn-secondary" type="button">Read more</button>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" data-aos="zoom-in" data-aos-duration="1300">
                    <img src="./assets/new2.jpeg">
                    <div class="text-start p-2 card-text">
                        <h5>Sweden partnered with Stupa</h5>
                        <p>Stupa is proud to have joined hands with the Swedish Table Tennis Association as their
                            official
                            performance analytics partner...
                        </p>
                        <div class="btn-low mt-5">
                            <button class="btn btn-secondary mt-4" type="button">Read more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="./assets/new3.jpeg">
                    <div class="text-start p-2 card-text">
                        <h5>Success Stories: Her Story Her Way</h5>
                        <p>May 28, 2021 by Megha Gambhir News
                            Success Story is here, Get Inspired!
                            Success Story in her way, the journey
                            has not been easy, Building a start-up is
                            difficult. It requires a constant push...


                        </p>

                        <button class="btn btn-secondary mt-5" type="button">Read more</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-4">
                <div class="card" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="./assets/new3.jpeg">
                    <div class="text-start p-2 card-text">
                        <h5>Success Stories: Her Story Her Way</h5>
                        <p>May 28, 2021 by Megha Gambhir News
                            Success Story is here, Get Inspired!
                            Success Story in her way, the journey
                            has not been easy, Building a start-up is
                            difficult. It requires a constant push...


                        </p>

                        <button class="btn btn-secondary mt-5" type="button">Read more</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-4">
                <div class="card" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="./assets/new3.jpeg">
                    <div class="text-start p-2 card-text">
                        <h5>Success Stories: Her Story Her Way</h5>
                        <p>May 28, 2021 by Megha Gambhir News
                            Success Story is here, Get Inspired!
                            Success Story in her way, the journey
                            has not been easy, Building a start-up is
                            difficult. It requires a constant push...


                        </p>

                        <button class="btn btn-secondary mt-5" type="button">Read more</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-4">
                <div class="card" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="./assets/new3.jpeg">
                    <div class="text-start p-2 card-text">
                        <h5>Success Stories: Her Story Her Way</h5>
                        <p>May 28, 2021 by Megha Gambhir News
                            Success Story is here, Get Inspired!
                            Success Story in her way, the journey
                            has not been easy, Building a start-up is
                            difficult. It requires a constant push...


                        </p>

                        <button class="btn btn-secondary mt-5" type="button">Read more</button>
                    </div>
                </div>
            </div> 
            <!-- <div class="col-sm-3">
            <div class="card" data-aos="zoom-in" data-aos-duration="1900">
                <img src="">
                <div class="text-start p-2 card-text">
                    <h5>Lorem, ipsum .</h5>
                    <p>Lorem ipsum,  sit amet consectetur adipisicing elit. Aut, velit in. Voluptas, odio et.
                        Tenetur suscipit cum veritatis voluptate vitae aliquam? Cupiditate sunt odit commodi officia
                        animi voluptates eaque vel!

                    </p>
                    <button class="btn btn-secondary" type="button">Read more</button>
                </div>
            </div>
        </div> -->
        </div>
