@import "~bootstrap-icons/font/bootstrap-icons.css";


 .owl-carousel-o-slider .owl-next, .owl-carousel-o-slider .owl-prev {
    background-color: turquoise !important;
    position: absolute;
    top: 50% !important;
}
.owl-carousel-o-slider .owl-prev{
right: 100%;}
.owl-carousel-o-slider .owl-next{
left: 100%;
}
 .owl-carousel-o-slider-3 .owl-next, .owl-carousel-o-slider-3 .owl-prev {
    background-color: rgba(0, 0, 0, 0.212) !important;
    position: absolute;
    top: 50% !important;
}
.owl-carousel-o-slider-3 .owl-prev{
right: 100%;}
.owl-carousel-o-slider-3 .owl-next{
left: 100%;
}

/* slider for about us  */
.owl-carousel-o-slider-2 .owl-next, .owl-carousel-o-slider-2 .owl-prev {
    background-color: rgba(0, 0, 0, 0.226) !important;
    position: absolute;
    top: 50% !important;
}
.owl-carousel-o-slider-2 .owl-prev{
right: 100%;}
.owl-carousel-o-slider-2 .owl-next{
left: 100%;
}
.custom-dialog-container  {
 padding: 0 !important;
 margin: 0 !important;
 
}
.mat-dialog-container {
    margin: 0 !important;
padding: 0 !important;
}
